<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}The Bear is petulant.{% endblock %}</title>
</head>

<body>
    <div id="menubar">
        {% block menubar %}
        <ul>
            <li><a href="{% url 'pantry:home' %}">Home</a></li>
            <li><a href="{% url 'pantry:product_list' %}">Products</a></li>
	    <li><a href="{% url 'pantry:dropoff_list' %}">DropOffs</a></li>
        </ul>
        {% endblock %}
    </div>
    
    <h1>
    {% block pagetitle %}
    
    {% endblock %}
    </h1>
    
    <div id="errormsg">
        {% block errormsg %}        
        
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
        
        {% endblock %}
    </div>   

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
