<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}The Bear is petulant.{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/ui-lightness/jquery-ui-1.10.3.custom.css' %}"/>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script>
    $( document ).ready(function() {
        styleUI();
        $("label").autoWidth();
        //$('.field').center();
        //$(window).resize();
        //$("div.myfields div label").autoWidth();
    });

    </script>
</head>

<body>
    <div id="menubar" class="ui-widget-header">
        {% block menubar %}
        <ul>
            <li><a href="{% url 'pantry:home' %}">Home</a></li>
            <li><a href="{% url 'pantry:product_list' %}">Products</a></li>
	        <li><a href="{% url 'pantry:dropoff_list' %}">DropOffs</a></li>
	        <li><a href="{% url 'pantry:pickup_list' %}">Pickups</a></li>
	        <li><a href="{% url 'pantry:bag_list' %}">Bags</a></li>
	        <li><a href="{% url 'pantry:client_list' %}">Clients</a></li>
        </ul>
        {% endblock %}
    </div>
    
    <h1 class="">
    {% block pagetitle %}
    
    {% endblock %}
    </h1>
    
    <div id="errormsg">
        {% block errormsg %}        
        
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
        
        {% endblock %}
    </div>
    
    <div id="successmsg">
        {% block successmsg %}        
        
            {% if success_message %}
                <p><strong>{{ success_message }}</strong></p>
            {% endif %}
        
        {% endblock %}
    </div> 

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
