<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Size</th>
        <th>Address</th>
        <th>Telephone</th>
        <th>Pickup Day</th>
        <th>Sign in</th>
    </tr>

{% for pickup in pickups %}
    <tr>
        <td>{{pickup.0}}</td>
        <td>{{pickup.1}}</td>
        <td>{{pickup.2}}</td>
        <td>{{pickup.3}} {{pickup.4}}, {{pickup.5}}, {{pickup.6}}, {{pickup.7}}</td>
        <td>{{pickup.8}}</td>
        <td>{{pickup.9}}</td>
        <td><a href="{% url 'pantry:complete_pickup' pickup.10 %}">Sign In</a></td>
    </tr>
{% endfor %}
</table>
