{% extends "base.html" %}

{% block pagetitle %}
Reports
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
    $('input[name=rm]').click(function(){changeTable();});
    $('input[name=rt]').click(function(){changeTable();});
    $("#report_type").buttonset();  
    /*$('input[name=tt]').change(function(){

        searchPickups();

   });*/
});

function changeTable() {
    rm = $('input[name=rm]:checked').val()
    rt = $('input[name=rt]:checked').val()
    $.get( "{% url 'pantry:reports' %}",{"rm":rm, "rt":rt}).done(function( data ) {
        //alert( "Data Loaded: " + data );
        $("#report_div").html(data);
        styleUI();
    });;    
}


</script>

<div class="ui-widget">
<span id="report_type">
    <input type="radio" name="rt" value="service" id="radio1" checked="checked"><label for="radio1">Service Report</label>
    <input type="radio" name="rt" value="grocery" id="radio2"><label for="radio2">Grocery Report</label>
</span>
</div><br>

<div id="report_month" style="text-align:center;" >
    <input type="radio" name="rm" value="active" id="radiom1" checked="checked"><label for="radiom1">Active MSR</label>
    <input type="radio" name="rm" value="last_month" id="radiom2"><label for="radiom2">Last Month MSR</label>
</div><br>
<div id="report_div">
{% include "service_report_table.html" %}

</div>
{% endblock %}
